node_modules/
build/
.eslintcache
.vscode

local.env.list

# WebAppSPA specific ignores
packages/app/src/styles/tailwind.css

/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
